<div class="container py-5 ">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body p-4 p-lg-5">
                    <h1 class="h3 mb-4 text-center fw-bold">Regístrate</h1>
                    <form action="#" method="post">
                        <div class="mb-4">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="form-label">Correo Electrónico:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-4">
                            <label for="confirm-password" class="form-label">Confirmar Contraseña:</label>
                            <input type="password" class="form-control"  id="confirm-password" name="confirm-password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2 fw-bold mb-3">Registrarse</button>
                    </form>
                    <p>¿Ya tienes una cuenta? <a routerLink="/iniciosesion">Inicia sesión aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>