 <div class="container d-flex flex-column justify-content-between">
    <h1 class="dispaly-2">{{tienda.NombreTienda}}</h1>

    <div class="container d-flex flex-row justify-content-between">
    @for (tienda of tienda.productos; track $index) {
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{tienda.id}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{tienda.nombre}}</h6>
          <p class="card-text">{{tienda.descripcion}}</p>
          <p class="card-text">{{tienda.precio}}</p>
          <p class="card-text">{{tienda.imagen}}</p>

        </div>
      </div>
    }
  </div>
</div>
