 <!-- Banner -->
 <h2>Presentamos la colección de ropa</h2>
 <h1>COMODIDAD<br>PARA TODO EL DÍA</h1>
 <div class="buttons">
   <a href="#">Comprar</a>
   <a href="#">Más información</a>
 </div>

<!-- Catálogo de productos -->
<section id="catalog" class="catalog">
<h2>Catálogo de Productos</h2>
<div class="product-grid">
  <!-- Producto 1 -->
  <div class="product-card">
    <img src="/img/camiseta.webp" alt="">
    <h3>Camiseta Básica</h3>
    <p>Precio: 20.00€</p>
    <a href="/pag/producto.html" class="btn">Ver Detalles</a>
  </div>
  <!-- Producto 2 -->
  <div class="product-card">
    <img src="/img/pantalon.jpg" alt="">
    <h3>Pantalon Chandal PSG</h3>
    <p>Precio: 35.00€</p>
    <a href="/pag/producto.html" class="btn">Ver Detalles</a>
  </div>
  <!-- Producto 3 -->
  <div class="product-card">
    <img src="/img/sudadera.jpg" alt="">
    <h3>Sudadera Nike Sportswear Club Crew</h3>
    <p>Precio: 50.00€</p>
    <a href="/pag/producto.html" class="btn">Ver Detalles</a>
  </div>
  <!-- Producto 4 -->
  <div class="product-card">
    <img src="/img/chaqueta.jpg" alt="">
    <h3>Sudadera Oversized</h3>
    <p>Precio: $25.00</p>
    <a href="/pag/producto.html" class="btn">Ver Detalles</a>
  </div>
</div>
</section>
