<!--Foto-->
<div class="container-fluid p-0 position-relative mb-5 row g-0">
  <img src="/img/imagen.jpg" alt="">
  <div class="foto-text">
  </div>
</div>
<div class="banner">
  <div class="text-center">
  <h1>Bienvenido a Nuestra Tienda</h1>
  <p>Explora lo último en moda con increíbles ofertas</p>
  </div>
  <img src="/img/banner4.png" alt="">
  <img src="/img/banner2.png" alt="">
  <img src="/img/banner3.png" alt="">
  <div class="text-center">
  <h2>Disfruta de la ultima coleccion femenina</h2>
  <p>Explora lo último en moda con increíbles ofertas</p>
  </div>
  <img src="/img/banner1.png" alt="">
  <img src="/img/banner5.png" alt="">
  <img src="/img/banner6.png" alt="">
</div>
<!-- Sección Quiénes Somos -->
<div class="text-center">
  <h2>Quiénes Somos</h2>
  <div class="about-content">
    <p>
      Nos apasiona la moda y trabajamos cada día para brindarte una experiencia de compra excepcional, con colecciones
      cuidadosamente seleccionadas y un servicio al cliente cercano y confiable. Queremos que encuentres en nuestra
      tienda no solo ropa, sino inspiración para crear looks que te hagan sentir auténtico y seguro de ti mismo.
    </p>
  </div>
</div>