<div class="container">
    <header class="d-flex justify-content-center py-3">
      <img src="" alt="">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/inicio" routerLinkActive="routerLinkActive" class="nav-link active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a routerLink="/catalogo" routerLinkActive="activeLink" class="nav-link">Catalogo</a></li>
        <li class="nav-item"><a routerLink="/producto" routerLinkActive="activeLink" class="nav-link">Producto</a></li>
        <li class="nav-item"><a routerLink="/pago" routerLinkActive="activeLink" class="nav-link">Pago</a></li>
        <li class="nav-item"><a routerLink="/contacto" routerLinkActive="activeLink" class="nav-link">Contacto</a></li>
        <li class="nav-item"><a routerLink="/iniciosesion" routerLinkActive="activeLink" class="nav-link">Iniciar Sesion</a></li>
        <li class="nav-item"><a routerLink="/registro" routerLinkActive="activeLink" class="nav-link">Registrarse</a></li>
      </ul>
      <div class="iconos">
        <img src="/img/search.png" alt="">
        <img src="/img/like--v1.png" alt="">
        <img src="/img/shopping-bag--v1.png" alt="">
    </div>
    </header>
  </div>
  <router-outlet/>