.container {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    list-style: none;
  }
  .container ul li img {
    width: 30px;
    height: 30px;
    margin: 10px;
    display: flex;
    gap: 10px;
  }