<footer class="bg-dark text-white pt-5 pb-3">
  <div class="container"> 
    <div class="row g-4">
      <div class="col-lg-3 col-md-6">
        <h5 class="text-uppercase mb-4">Tienda</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none hover-white">Nosotros</a></li>
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none hover-white">Nuestros servicios</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none hover-white">Afiliate</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5 class="text-uppercase mb-4">Ayuda</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none hover-white">Preguntas</a></li>
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none hover-white">Compras</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none hover-white">Envios</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5 class="text-uppercase mb-4">Productos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none hover-white">Ropa</a></li>
          <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none hover-white">Camisetas</a></li>
          <li><a href="#" class="text-white-50 text-decoration-none hover-white">Pantalones</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5 class="text-uppercase mb-4">Siguenos</h5>
        <div class="social-icons d-flex gap-3 mb-4">
          <a href="https://facebook.com" target="_blank" class="text-white fs-5">
            <img src="/img/facebook.png" alt="" width="30" class="social-icon">
          </a>
          <a href="https://twitter.com" target="_blank" class="text-white fs-5">
            <img src="/img/twitter.png" alt="" width="30" class="social-icon">
          </a>
          <a href="https://instagram.com" target="_blank" class="text-white fs-5">
            <img src="/img/instagram.webp" alt="" width="30">
          </a>
        </div>
      </div>
    </div>

    <hr class="my-4 border-secondary">

    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="small mb-3 mb-md-0">© 2025 Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>