<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mb-5">
                <h1 class="h3 mb-4 text-center fw-bold">Página de Pago</h1>

                <div class="mb-3">
                    <h2 class="h5 mb-3">Métodos de Pago</h2>
                    <label>
                        <input type="radio" name="payment-method" value="visa"> Visa
                    </label>
                    <label>
                        <input type="radio" name="payment-method" value="mastercard"> MasterCard
                    </label>
                    <label>
                        <input type="radio" name="payment-method" value="amex"> American Express
                    </label>
                    <label>
                        <input type="radio" name="payment-method" value="paypal"> PayPal
                    </label>
                </div>

                <div class="mb-3">
                    <h2 class="h5 mb-3">Datos de la Tarjeta</h2>
                    <form>
                        <div class="mb-3">
                        <label class="form-label" for="card-number">Número de Tarjeta:</label>
                        <input class="form-control" type="text" id="card-number" name="card-number" required>
                        </div>
                        <div class="mb-3">
                        <label class="form-label" for="expiry-date">Fecha de Vencimiento:</label>
                        <input class="form-control" type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY" required>
                        </div>
                        <div class="mb-3">
                        <label class="form-label" for="security-code">Código de Seguridad:</label>
                        <input class="form-control" type="text" id="security-code" name="security-code" required>
                        </div>
                        <div class="mb-3">
                        <button class="btn btn-primary w-45 py-2 fw-bold mb-3" type="submit">Finalizar Pago</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>